<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WORD COUNT - Home</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-gray-300">

    <div class="mx-auto w-screen h-screen flex content-center">

        <div class="w-full max-w-sm mx-auto my-auto">
            <div class="text-center mb-4">
                <span class="text-3xl">WORD COUNT</span>
            </div>
            <form action="{% url 'count' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div>
                    <div class="text-center mb-4">
                        <label for="fulltext">
                            FullText
                        </label>
                    </div>
                    
                    <textarea name="fulltext" id="fulltext" cols="40" rows="5" class="shawdow appearance-none border rounded w-full py-2 px-3 text-gray text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4"></textarea>
                    <div class="flex justify-end">
                        <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">Count!</button>
                    </div>
                    
                </div>
            </form>        
        </div>
    </div>
    
</body>
</html>
